body {
    font-family: Arial, sans-serif;
    background: #f2f5f2;
    margin: 0;
}

header {
    background: #207567;
    color: white;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

h2 {
    margin-left: 15px;
}

p {
    margin-left: 15px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

footer {
    background: #1a4d43;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

